div {
    background-color:#021446;
    color: #ffc300;
    padding: 5px;
    text-align: center;
    
    
}
.rct1 {
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;


}
 
h2 {
    font-family: Arial;
    font-weight: bold;
    color: #ffc300;
    font-style: bold;
}
 
 
 
article {
    font-family: Arial;
    font-size: 16px;
    margin-left: 700px;
    margin-right: 700px;
    text-align: center;
    border-radius: 20px;
    background-color: #021446;
    padding: 20px;
    color: #ffffff;
 
}
 
.yt {
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #010033;
    color: #ffc300;
}
 